* {
    box-sizing: border-box;
}

:root {
    --first-color: transparent;
    --second-color: black;
    
}

body {
    width: 80%;
    margin: 0 auto;
    

}

/* ----- header ----- */

#mainlogo {
    float: left;
    text-align: left;
    padding-right: 10px;

}

nav li img {
 clear: both;
 position: relative;
 bottom: 30px;
 margin: -1px;
}
nav ul :nth-child(7) {
    margin-left: 10px;
}

header h2 {
    display: inline;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-style: italic;

}

header p {
    font-variant: small-caps;
    font-size: 15px;
    color: grey

}

header li {
    display: inline-block;

}

header ul {
    float: right;
}

header {
    border-image: url(/images/hr-img.png) 25 30 10 20 repeat;
    border: 10px solid transparent;
}

/* ----- main ----- */

.slash {
    background-image: url('/images/hr-img.png');
    height: 10px;
    clear: both;
}

.content {
    text-indent: 50px;
    font-size: 23px;
}

.mainwrap h3 {
    color: black;
    font-family: 'Passion One', cursive;
    font-style: bold;
    font-size: 45px;
}

.printside  {
    float: right;
    position: relative;
    bottom: 15px;
}

main {
    text-align: center;
    margin: 0 auto;
}


.mainwrap {
    color: grey;
    font-style: caps;
    font-size: 12px;
    text-align: left;
    clear: both;
}

main section {
    font-size: 20px;
    text-align: left;
}

.printside p {
    color: grey;
    font-style: caps;
    font-size: 12px;
}

#chocomainpizza {
    width: 100%;
    margin-bottom: 20px;
}

section ul {
    margin-top: 30px;
    margin-bottom: 30px;

}

section ul li {
    padding: 5px;
    margin-bottom: 20px;
}

.firstlineingredients {
    float: left;
    margin-left: 100px;
    padding-left: 30px;
    text-align: left;
    font-family: 'Varela Round', sans-serif;
}

.secondlineingredients {
    float: right;
    margin-right: 100px; 
    padding-left: 100px;
    text-align: left;
    font-family: 'Varela Round', sans-serif;

} 

.notepad {
    background-image: url("/images/list-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: table;
    clear: both;
    margin-bottom: 50px;
    

}


/* ----- Vanessa ----- */

.vanessa img {
   float: left;
   margin-right: 15px;
   height: 80px;
}
.vanessa  {
    width: 100%;
    text-align: left;
    padding-top: 15px;
    margin-top: 30px;
}
.vanessa p {
padding-top: 15px;
font-weight: bolder;
margin-bottom: 10px;
font-size: 25px;
}
.vanessa article {
    width: 60%;
    font-size: 20px;
    position: relative;
    /* left: 50px; */
}
.vanessa p, article {
    position: relative;
    bottom: 15px;
    text-align: left;
}
button {
    float: right;
    background-color: red;
    color: white;
    padding: 25px;
    position: relative;
    right: 20px;
    bottom: 75px;
    font-size: 20px;
}
input[type=checkbox]:checked + label.strikethrough {
    text-decoration: line-through;
}




/* ----- footer ----- */

footer {
    clear: both;
    text-align: center;

}

#everything {
    background-color: var(--first-color);
    color: var(--second-color);
}

